<template>
    <section id="dashboard">
        <b-row>
            <b-col cols="6">
                No data
            </b-col>
        </b-row>
    </section>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: "Dashboard",
    data: () => ({
        disable: false
    }),
    methods: {
    }
}
</script>

<style lang="scss" scoped>
    .btn-mr {
        margin-right: 15px;
    }
</style>
