<template>
    <div>
        <h1>{{ $t('auth.login.title') }}</h1>
        <login-form @submit="onSubmit" :loading="loading"></login-form>
    </div>
</template>

<script>
    import LoginForm from './LoginForm'
    export default {
        name: 'Login',
        components: {LoginForm},
        data() {
            return {
                authErrors: {},
                loading: false,
            }
        },
        methods: {
            onSubmit(loginData) {
                this.loading = true
                this.$auth
                    .login({
                        data: loginData,
                    })
                    .finally(() => this.loading = false);
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
