<template>
  <b-form class="row">
      <b-col sm="12">
          <b-alert v-if="errors && errors.message" show variant="danger">
              {{ errors.message }}
          </b-alert>
      </b-col>
    <b-col lg="6" md="6" sm="12">
      <b-row>
        <b-col>
          <b-form-group label="Name :" label-for="namr">
            <b-form-input
              id="name"
              v-model="form.name"
              autocomplete="name"
              aria-describedby="input-protocol-feedback"
              trim
              :class="{
                'is-invalid': errors && errors.fields && errors.fields.name,
              }"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </b-col>
    <b-col sm="12">
      <div class="text-right">
        <b-button variant="secondary" @click="onCancel">
          Cancel
        </b-button>
        <b-button
          type="submit"
          variant="primary"
          class="px-3"
          @click.prevent="onSubmit"
        >
          Save
        </b-button>
      </div>
    </b-col>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'
import Task from '../model/Task'

export default {
  name: 'CreateUpdateTaskForm',
  components: {
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    task: {
      type: Task,
      default: () => new Task(),
    }
  },
  data: () => {
    return {
      form: new Task().store(),
      currentTask: new Task(),
    }
  },
  computed: {
    showDeleteButton() {
      return this.mode === 'update'
    },
  },
  async created() {
    if (this.mode === 'update' && this.task.id) {
      this.currentTask = await this.fetchByIdTask(this.task.id)
    } else {
      this.currentTask = this.task
    }
    this.form = this.currentTask.store()
  },
  methods: {
    ...mapActions([
      'fetchByIdTask',
      'updateTask',
      'createTask',
      'clearErrors'
    ]),
     async onSubmit() {
       try {
         if (this.mode === 'create') {
           await this.createTask(this.form)
         } else if (this.mode === 'update') {
           await this.updateTask({
             id: this.currentTask.id,
             ...this.form,
           })
         }
         this.$emit('saved')
       } catch (e) {}
     },
     onCancel() {
      this.form = this.currentTask.store()
      this.clearErrors()
      this.$emit('canceled')
    },
  },
}
</script>
