<template>
    <section id="task" style="color: #746e6e">
        <div>
            <b-row class="my-1">
                <b-col xs="12" xl="1" class="mb-1">
                    <b-button-toolbar>
                        <b-button-group size="sm" class="mt-1">
                            <b-button variant="primary" @click="createNewTask">
                                Create
                            </b-button>
                        </b-button-group>
                    </b-button-toolbar>
                </b-col>
                <b-col xs="12" xl="12" class="my-1">
                    <b-row>
                        <b-col хs="12" md="6" xl="3" class="mb-1">
                            <b-input-group size="sm">
                                <b-form-input
                                    :value="filter.query"
                                    trim
                                    type="search"
                                    :debounce="500"
                                    placeholder="Search by name, key or url"
                                    @update="filter.query = $event || null"
                                ></b-form-input>
                                <b-input-group-append>
                                    <b-button
                                        :disabled="!filter.query"
                                        @click="onClearFilter('query')"
                                    >
                                        Clear
                                    </b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row>
                <b-col sm="12">
                    <b-table striped responsive
                             ref="table"
                             :items="myProvider"
                             :fields="captions"
                             :busy.sync="isBusy"
                             :hover="true"
                             :striped="true"
                             :bordered="true"
                             :small="false"
                             :fixed="false"
                             :current-page="page"
                             :per-page="globalPerPage"
                             :sort-by.sync="sortBy"
                             :sort-desc.sync="sortDesc"
                             no-local-sorting
                             @filtered="onFiltered"
                    >
                        <template v-slot:cell(actions)="row">
                            <b-button
                                class="mr-1 mb-1"
                                variant="outline-primary"
                                title="Edit"
                                size="sm"
                                @click="rowClicked(row.item)"
                            >
                                Edit
                            </b-button>
                            <DeleteButton
                                :id="row.item.id"
                                action="deleteTask"
                                size="sm"
                                class="mb-1"
                                @deleted="$refs.table.refresh()"
                            />
                        </template>
                    </b-table>
                    <nav class="nav-pagination">
                        <b-pagination
                            v-if="totalRows > globalPerPage"
                            v-model="page"
                            :total-rows="totalRows"
                            :per-page="globalPerPage"
                            prev-text="Prev"
                            next-text="Next"
                        />
                    </nav>
                </b-col>
            </b-row>
            <b-modal
                v-model="showCreateUpdateTaskForm"
                :title="modalTitle"
                size="lg"
                hide-footer
            >
                <b-container>
                    <CreateUpdateTaskForm
                        :mode="mode"
                        :task="task"
                        @saved="
                        closeModal()
                      "
                        @canceled="showCreateUpdateTaskForm = false"
                        @deleted="closeModal"
                    />
                </b-container>
            </b-modal>
        </div>
    </section>
</template>

<script>
import {mapActions} from 'vuex'
import DeleteButton from "../../../core/components/common/DeleteButton"
import CreateUpdateTaskForm from "./TaskCreateUpdateForm"
import Task from '../model/Task'

const tableFields = () => [
    { key: 'id', sortable: true },
    { key: 'name', sortable: false },
    { key: 'actions'}
]

export default {
    name: 'Tasks',
    components: {
        DeleteButton,
        CreateUpdateTaskForm
    },
    data: () => ({
        isBusy: false,
        fields: tableFields(),
        sortBy: 'id',
        sortDesc: true,
        sortOrders: ['ascending', 'descending'],
        filter: {
            query: null,
        },
        page: 1,
        totalRows: 0,
        formVisible: false,
        formTitle: 'New Task',
        formData: null,
        task: new Task(),
        mode: 'create',
        modalTitle: 'Crate new Task',
        showCreateUpdateTaskForm: false,
        statusColor: [
            '#868986',
            '#0F8915',
            '#ea0818'
        ],
        data: []
    }),
    computed: {
        captions() {
            return this.fields
        },
    },
    methods: {
        ...mapActions(['fetchTasksList', 'updateConsoleStatusTask']),
        async myProvider(ctx) {
            this.isBusy = true
            const params = {
                ...this.filter,
                page: ctx.page ?? this.page,
                perPage: ctx.perPage ?? this.globalPerPage,
                sort: ctx.sortBy
                    ? ctx.sortDesc
                        ? `-${ctx.sortBy}`
                        : ctx.sortBy
                    : null
            }

            try {
                const { data, meta } = await this.fetchTasksList(params)
                this.data = data
                this.totalRows = meta.totalItems
            } catch (e) {
                this.data = []
            } finally {
                this.isBusy = false
            }

            return this.data
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        onFilter() {
            this.currentPage = 1
            this.$refs.table.refresh()
        },
        formatDate(value, key, item) {
            return value ? this.$moment(value).format(this.globalDateTimeFormat) : ''
        },
        onClearFilter(key) {
            if (key) {
                this.filter[key] = null
            } else {
                Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
            }
            this.sortBy = 'createdAt'
            this.sortDesc = true
        },
        rowClicked(item) {
            this.modalTitle = `Update task - ${item.name} `
            this.mode = 'update'
            this.task = item
            this.showCreateUpdateTaskForm = true
        },
        closeModal() {
            this.showCreateUpdateTaskForm = false
            this.$refs.table.refresh()
        },
        createNewTask() {
            this.modalTitle = 'Create new Task'
            this.showCreateUpdateTaskForm = true
            this.mode = 'create'
            this.task = new Task()
        },
        showBasicDialog() {
            this.$bvModal.msgBoxOk('Information successfully saved.', {
                title: 'Task Information',
            })
        },
        statusUpdate(item) {
            this.updateConsoleStatusTask(item)
            this.$refs.table.refresh()
        }
    },
    watch: {
        filter: {
            handler(val) {
                this.onFilter()
            },
            deep: true,
        }
    },
}
</script>
<style lang="scss" scoped>
.nav-pagination {
    float:right;
}
</style>
