<template>
    <section id="user">
        <div>
            <b-row class="my-1">
                <b-col xs="12" xl="12" class="my-1">
                    <b-row>
                        <b-col хs="12" md="6" xl="3" class="mb-1">
                            <b-input-group size="sm">
                                <b-form-input
                                    :value="filter.query"
                                    trim
                                    type="search"
                                    :debounce="500"
                                    placeholder="Search by name, key or url"
                                    @update="filter.query = $event || null"
                                ></b-form-input>
                                <b-input-group-append>
                                    <b-button
                                        :disabled="!filter.query"
                                        @click="onClearFilter('query')"
                                    >
                                        Clear
                                    </b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <b-row>
                <b-col sm="12">
                    <b-table striped responsive
                             ref="table"
                             :items="myProvider"
                             :fields="captions"
                             :busy.sync="isBusy"
                             :hover="true"
                             :striped="true"
                             :bordered="true"
                             :small="false"
                             :fixed="false"
                             :current-page="page"
                             :per-page="globalPerPage"
                             :sort-by.sync="sortBy"
                             :sort-desc.sync="sortDesc"
                             no-local-sorting
                             @filtered="onFiltered"
                    >
                        <template v-slot:cell(emailVerified)="data">
                            <span v-if="data.item.emailVerified" class="text-success">YES</span>
                            <span v-else class="text-danger">NO</span>
                        </template>
                        <template v-slot:cell(createdAt)="data">{{ formatDate(data.item.createdAt) }}</template>
                        <template v-slot:cell(actions)="data">
                            <b-link :to="{ name: 'showUser', params: { id: data.item.id }}" class="btn btn-outline-primary mb-1 btn-sm">
                                <i class="el-icon-edit"></i>
                            </b-link>
                            <DeleteButton
                                :id="data.item.id"
                                action="deleteUser"
                                size="sm"
                                class="mb-1"
                                @deleted="$refs.table.refresh()"
                            />
                        </template>
                    </b-table>
                    <nav class="nav-pagination">
                        <b-pagination
                            v-if="totalRows > globalPerPage"
                            v-model="page"
                            :total-rows="totalRows"
                            :per-page="globalPerPage"
                            prev-text="Prev"
                            next-text="Next"
                        />
                    </nav>
                </b-col>
            </b-row>
        </div>
    </section>
</template>

<script>
import {mapActions} from 'vuex'
import DeleteButton from "../../../core/components/common/DeleteButton";

const tableFields = () => [
    { key: 'id', sortable: true },
    { key: 'email', sortable: true },
    { key: 'role', sortable: false },
    {
        key: 'emailVerified',
        label: 'Active',
        sortable: false
    },
    {
        key: 'createdAt',
        label: 'Created',
        sortable: true,
    },
    { key: 'actions'}
]

export default {
    components: {
        DeleteButton
    },
    data: () => ({
        isBusy: false,
        fields: tableFields(),
        sortBy: 'id',
        sortDesc: true,
        sortOrders: ['ascending', 'descending'],
        filter: {
            query: null,
        },
        page: 1,
        totalRows: 0,
        formVisible: false,
        formTitle: 'New SharedConsoleSite',
        formData: null,
        data: []
    }),
    computed: {
        captions() {
            return this.fields
        },
    },
    methods: {
        ...mapActions(['fetchUsersListAll']),
        async myProvider(ctx) {
            this.isBusy = true
            const params = {
                ...this.filter,
                page: ctx.page ?? this.page,
                perPage: ctx.perPage ?? this.globalPerPage,
                sort: ctx.sortBy
                    ? ctx.sortDesc
                        ? `-${ctx.sortBy}`
                        : ctx.sortBy
                    : null
            }

            try {
                const {data, meta} =  await this.fetchUsersListAll(params)
                this.totalRows = meta.totalItems
                this.data = data
            } catch (e) {
            } finally {
                this.isBusy = false
            }

            return this.data
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        onFilter() {
            this.currentPage = 1
            this.$refs.table.refresh()
        },
        formatDate(value, key, item) {
            return value ? this.$date(value).format(this.globalDateTimeFormat) : ''
        },
        onClearFilter(key) {
            if (key) {
                this.filter[key] = null
            } else {
                Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
            }
            this.sortBy = 'createdAt'
            this.sortDesc = true
        },
    },
    watch: {
        filter: {
            handler(val) {
                this.onFilter()
            },
            deep: true,
        }
    },
}
</script>
<style lang="scss" scoped>
.nav-pagination {
    float:right;
}
</style>
