<template>
    <section id="user">
        <b-row>
            <b-col cols="6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">User info</div>
                    </div>
                    <div class="card-body">
                        <p><b>Email: </b> {{ user.email }}</p>
                        <p><b>Name: </b> {{ user.name}}</p>
                        <p><b>Email Verified: </b>{{ user.emailVerified ? formatDate(user.emailVerified) : 'No'}}</p>
                        <p v-if="!user.emailVerified"><b>Email Verification Token: </b>{{ user.emailVerificationToken}}</p>
                    </div>
                </div>
            </b-col>
        </b-row>
    </section>
</template>

<script>
import { mapActions } from 'vuex'
import User from "../model/User";

export default {
    data: () => ({
        isBusy: false,
        user: new User(),
    }),
    async created() {
        this.user = await this.fetchUserById(this.$route.params.id)
    },
    methods: {
        ...mapActions(['fetchUserById']),
        formatDate(value, key, item) {
            return value ? this.$date(value).format(this.globalDateTimeFormat) : ''
        },
    }
}
</script>
<style lang="scss" scoped>
.nav-pagination {
    float:right;
}
</style>
