<template>
    <section id="site" style="color: #746e6e">
        <div>
            <b-row>
                <b-col sm="12">
                    <b-card no-body>
                        <b-tabs pills card vertical>
                            <b-tab v-for="setting in this.settings"
                                   v-bind:data="setting"
                                   v-bind:key="setting.attributes.key"
                                   :title="setting.attributes.label">
                                <b-card-text>
                                    {{setting.attributes.label}}
                                    <b-col sm="12">
                                        <b-alert v-if="errors && errors.message" show variant="danger">
                                            {{ errors.message }}
                                        </b-alert>
                                    </b-col>
                                    <b-table striped hover
                                             :items="setting.attributes.items"
                                             :fields="captions"
                                    >
                                        <template v-for="field in editableFields" v-slot:[`cell(${field.key})`]="{ value, item, field }">
                                            <b-form-group v-if="settingRow && settingRow.itemKey === item.itemKey">
                                                <v-select
                                                    v-if="item.options"
                                                    :value="item.itemValue"
                                                    :options="item.options"
                                                    v-model="settingRow[field.key]" :type="field.type || 'text'"
                                                    :number="field.isNumber"
                                                    :class="{
                                                        'is-invalid': errors && errors.fields && errors.fields.itemValue,
                                                    }"
                                                >
                                                </v-select>
                                                <b-input
                                                    v-else
                                                    v-model="settingRow[field.key]" :type="field.type || 'text'" :number="field.isNumber"
                                                    :class="{
                                                        'is-invalid': errors && errors.fields && errors.fields.itemValue,
                                                       }"
                                                >
                                                </b-input>
                                            <b-form-invalid-feedback
                                                v-if=" errors && errors.fields && errors.fields.itemValue"
                                                id="input-lead-source-feedback"
                                            >
                                                {{ errors.fields.itemValue[0] }}
                                            </b-form-invalid-feedback>
                                            </b-form-group>
                                            <template v-else>{{ value }}</template>
                                        </template>
                                        <template v-slot:cell(actions)="{ item }">
                                            <b-button-group v-if="settingRow && settingRow.itemKey === item.itemKey">
                                                <b-btn variant="success" @click="saveEdit">
                                                    Save
                                                </b-btn>
                                                <b-btn variant="danger" @click="resetEdit">
                                                    Cancel
                                                </b-btn>
                                            </b-button-group>
                                            <b-btn v-else variant="primary" @click="editUser(item)">
                                                Edit
                                            </b-btn>
                                        </template>
                                    </b-table>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </b-card>
                </b-col>
            </b-row>
        </div>
    </section>
</template>

<script>
import {mapActions} from 'vuex'
import DeleteButton from "../../../core/components/common/DeleteButton"
const tableFields = () => [
    { key: 'label', sortable: false },
    { key: 'itemValue', label: 'Value', sortable: false, editable:true },
    { key: 'actions', sortable: false },
    { key: 'description', sortable: false }
]
export default {
    name: 'Settings',
    components: {
        DeleteButton,
    },
    data: () => ({
        settingRow: null,
        fields: tableFields(),
        isBusy: false,
        settings: []
    }),
    computed: {
        captions() {
            return this.fields
        },
        editableFields() {
            return this.fields.filter((field) => field.editable);
        }
    },
    methods: {
        ...mapActions(['fetchSettingsList', 'updateSettings']),

        editUser(user) {
            let doEdit = true;
            if (
                this.settingRow &&
                !confirm(
                    "You have unsaved changes, are you sure you want to continue?"
                )
            ) {
                doEdit = false;
            }

            if (doEdit) {
                this.settingRow = { ...user };
            }
        },
        saveEdit() {
            const newValue = this.settingRow
            const promise = this.updateSettings(newValue)

            return promise
                .then(({ data }) => {
                    let settingUpdate = null
                    this.settings.forEach(function(key) {
                        if (!settingUpdate) {
                            settingUpdate = key.attributes.items.find((u) => u.itemKey === newValue.itemKey)
                        }
                    })
                    Object.assign(settingUpdate, this.settingRow)
                    this.resetEdit();
                })
                .catch(() => {

                })
        },
        resetEdit() {
            this.settingRow = null;
        }
    },
    watch: {
        filter: {
            handler(val) {
            },
            deep: true,
        }
    },
    async created() {
        const promise =  this.fetchSettingsList();

        return promise
            .then(({ data, meta }) => {
                this.isBusy = false
                this.settings = data
            })
            .catch(() => {
                this.isBusy = false
                this.settings = []
            })
    },
}
</script>
<style lang="scss" scoped>
.nav-pagination {
    float:right;
}
</style>
