<template>
    <section id="crawler" style="color: #746e6e">
        <div>
            <b-row>
                <b-col sm="12">
                    <b-table striped responsive
                             ref="table"
                             :items="myProvider"
                             :fields="captions"
                             :busy.sync="isBusy"
                             :hover="true"
                             :striped="true"
                             :bordered="true"
                             :small="false"
                             :fixed="false"
                             :current-page="page"
                             :per-page="globalPerPage"
                             :sort-by.sync="sortBy"
                             :sort-desc.sync="sortDesc"
                             no-local-sorting
                             @filtered="onFiltered"
                    >

                        <template v-slot:cell(actions)="row">
                            <b-button
                                class="mr-1 mb-1"
                                variant="outline-primary"
                                title="Download"
                                size="sm"
                                @click="download(row.item)"
                            > <i class="el-icon-download"></i> Download
                            </b-button>
                        </template>
                    </b-table>
                </b-col>
            </b-row>
        </div>
    </section>
</template>

<script>
import {mapActions} from 'vuex'
import DeleteButton from "../../../core/components/common/DeleteButton"

const tableFields = () => [
    { key: 'name', sortable: false },
    { key: 'actions'}
]

export default {
    name: 'Crawlers',
    components: {
        DeleteButton,
    },
    data: () => ({
        isBusy: false,
        fields: tableFields(),
        sortBy: 'id',
        sortDesc: true,
        sortOrders: ['ascending', 'descending'],
        filter: {
            query: null,
        },
        page: 1,
        totalRows: 0,
        exportDisable: false
    }),
    computed: {
        captions() {
            return this.fields
        },
    },
    methods: {
        ...mapActions(['fetchLogs', 'downloadLogs']),
        myProvider(ctx) {
            this.isBusy = true
            const params = {
                ...this.filter,
                page: ctx.page ?? this.page,
                perPage: ctx.perPage ?? this.globalPerPage,
                sort: ctx.sortBy
                    ? ctx.sortDesc
                        ? `-${ctx.sortBy}`
                        : ctx.sortBy
                    : null
            }
            const promise =  this.fetchLogs(params)

            return promise
                .then(({ data, meta }) => {
                    console.log(data)
                    this.isBusy = false
                    return data
                })
                .catch(() => {
                    this.isBusy = false
                    return []
                })
        },
        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        onFilter() {
            this.currentPage = 1
            this.$refs.table.refresh()
        },
        formatDate(value, key, item) {
            return value ? this.$moment(value).format(this.globalDateTimeFormat) : ''
        },
        onClearFilter(key) {
            if (key) {
                this.filter[key] = null
            } else {
                Object.keys(this.filter).forEach((e) => (this.filter[e] = null))
            }
            this.sortBy = 'createdAt'
            this.sortDesc = true
        },
        download(item) {
            const promise = this.downloadLogs(item.key)
            promise.then(response => {
                console.log(response)
                this.exportDisable = true;
                const blob = new Blob([response.data], { type: 'text/plain' })
                const link = document.createElement('a')
                link.href = URL.createObjectURL(blob)
                link.download = 'log_' + item.name + '.txt'
                link.click()
                URL.revokeObjectURL(link.href)
                this.exportDisable = false;
            }).catch(console.error)
        },
        rowClicked(item) {
        },
    },
    watch: {
        filter: {
            handler(val) {
                this.onFilter()
            },
            deep: true,
        }
    },
}
</script>
<style lang="scss" scoped>
.nav-pagination {
    float:right;
}
</style>
