<template>
  <span v-if="icon" :title="title">
    <b-icon
      :variant="variant"
      icon="trash-fill"
      @click.stop="onDelete()"
    ></b-icon>
  </span>
  <b-button
    v-else
    :variant="variant"
    :title="title"
    :size="size"
    @click="onDelete()"
  >
    {{ title }}
  </b-button>
</template>

<script>
export default {
  name: 'DeleteButton',
  props: {
    id: {
      type: Number,
      default: null,
    },
    action: {
      type: String,
      default: '',
      require: true,
    },
    variant: {
      type: String,
      default: 'outline-danger',
    },
    title: {
      type: String,
      default: 'Delete',
    },
    size: {
      type: String,
      default: '',
    },
    icon: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onDelete() {
      try {
        this.$bvModal
          .msgBoxConfirm('Are you sure you want to delete this?', {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true,
          })
          .then(async (value) => {
            if (value && this.action && this.id) {
              await this.$store.dispatch(this.action, this.id)
              this.$emit('deleted')
            }
          })
      } catch (e) {}
    },
  },
}
</script>

<style scoped></style>
